body {
    margin: 0;
    background: #f0f0f0; /* Changing background color to a light gray */
    text-align: center;
    font-family: 'Century Gothic', sans-serif; /* Applying font family to the entire body */
}

.box {
    width: 80%; /* Adjusting box width to be responsive */
    max-width: 600px; /* Setting a maximum width for larger screens */
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: 5% auto; /* Centering the box vertically and horizontally */
    color: white;
    border-radius: 10px; /* Adding a slight border-radius for a rounded corner effect */
}

.box-img {
    border-radius: 50%;
    width: 200px; /* Adjusting image size for responsiveness */
    height: 200px; /* Adjusting image size for responsiveness */
    object-fit: cover; /* Ensuring the image fits within the defined dimensions */
    margin-bottom: 20px; /* Adding some space below the image */
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin-bottom: 10px; /* Adding spacing below the h1 heading */
}

.box h2 {
    font-size: 30px; /* Styling for section headings */
    letter-spacing: 3px;
    font-weight: 100;
    margin-top: 30px; /* Adding spacing above the section headings */
}

.box p {
    text-align: justify;
    margin-bottom: 20px; /* Adding spacing below paragraphs */
}

/* Styling for specific sections */
.about-me,
.current-projects,
.resume {
    text-align: left; /* Adjusting text alignment for section content */
    margin-bottom: 30px; /* Adding space between sections */
}
